{% extends 'base.html'%}
{% load static %}
{% block content %}
  <!-- Masthead -->
    <header class="masthead text-white text-center">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h1 class="mb-5">Let us help you start your career!</h1>
          </div>
          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            <form>
              <div class="form-row">
                <div class="col-12 col-md-3">
                  <!-- 
                    <button type="submit" class="btn btn-block btn-lg btn-primary">Search!</button>
                     <a href="#">About</a>
                  -->
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </header>

  <!-- Icons Grid -->
  <section class="features-icons bg-light text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-screen-desktop m-auto text-primary"></i>
            </div>
            <h3>Employer</h3>
            <p class="lead mb-0">If you are looking for a more diverse workforce we can help you find the right employees for your company.</p>
            <br>
            <a class="btn btn-primary" href="{% url 'employer' %}">Start</a>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-layers m-auto text-primary"></i>
            </div>
            <h3>Job Seeker</h3>
            <p class="lead mb-0">Looking for a new career? We can help you find the right place for you to bring your talents and experience!</p>
            <br>
            <a class="btn btn-primary" href="{% url 'jobseeker' %}">Start</a>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-check m-auto text-primary"></i>
            </div>
            <h3>Learn More</h3>
            <p class="lead mb-0">Not sure where to start? Let us help you! Our team of professionals can help you start your new journey.</p>
            <br>
            <a class="btn btn-primary" href="{% url 'about' %}">Start</a>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
  
